.HomeContainer {
  display: flex;
  /* background-color: lightgray; */
  height: 800px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-image: url('/backgroundImg.jpg');
  /* background-size: cover; */
}

.HomeSentenceContainer {
  display: column;
  margin: 20px;
  height: 180px;
  width: 750px;
  align-items: flex-end;
  justify-content: center;
  padding: 30px;
}

.HomeSentence {
  display: flex;
  justify-content: center;
}

.ButtonContainer {
  display: column;
  display: flex;
  justify-content: center;
}

.HomeButton {
  /* customize the button of the home page */
  background-color: orange;
  /* display: flex; */
  width: 120px;
  height: 38px;
  justify-content: center;
  align-items: center;
  margin-right: 6%;
  cursor: pointer;
}

.ContactButton {
  background-color: lightgreen;
  /* display: flex; */
  width: 120px;
  height: 38px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
